Source: pypdb
Section: python
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
               python-all, python-all-dbg,
               python-ply (>= 3.4~),
               lyx (>= 2.1~),
               asciidoc, libxml2-utils, docbook-utils, xmlto,
Standards-Version: 3.9.4
XS-Python-Version: >= 2.7
Homepage: https://github.com/epicsdeb/pypdb
Vcs-Git: https://github.com/epicsdeb/pypdb.git

Package: python-pdb
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Recommends: ${python:Recommends}
Suggests: ${python:Suggests}
Breaks: ${python:Breaks}
Description: Tools to translate names in epics files
 Tools to "translate" (apply naming conventons) to common
 EPICS file formats.  Includes process database and operator
 interface files.
