#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_build:
	dh_auto_build -- --force
	LANG=en_US LANGUAGE=en_US LC_ALL=en_US lyx -batch -e pdf2 documentation/getpvs-manual.lyx
	a2x -f manpage applypvs.1.txt
	a2x -f manpage getpvs.1.txt

override_dh_auto_clean:
	#rm -f documentation/getpvs-manual.pdf
	rm -f applypvs.1 getpvs.1
	dh_auto_clean
